<template>
    <div id="app" class="container">
        <input v-model="room">
        <h1>Edgar à votre service</h1>
        <target-component v-bind:room="room"></target-component>
    </div>
</template>


<script>
import TargetComponent from '../components/TargetComponent';

export default{
    name: 'app',
    components: {
        TargetComponent
    },
    data: function () {
        return {
            room: '1',
        }
    }
}
</script>


<style>
#app {

}
</style>
