<template>
    <div class="jumbotron">
        <h3>Room : {{ room }}</h3>
        <p>{{ observedTemperature }}</p>
        <h1>{{ targetTemperature }}</h1>
        <button
            type="button"
            class="btn btn-success"
            v-on:click="increase">+</button>
        <button
            type="button"
            class="btn btn-success"
            v-on:click="decrease">-</button>
    </div>
</template>

<script>
import axios from 'axios';
import {HTTP} from '../app';

export default {
    props: ['room'],
    data: function () {
        return {
            targetTemperature: '0',
            observedTemperature: '0',
            errors: [],
        }
    },
    methods: {
        increase: function () {
            this.targetTemperature =+ this.targetTemperature + 0.5
            this.postTarget()
        },
        decrease: function () {
            this.targetTemperature =+ this.targetTemperature - 0.5
            this.postTarget()
        },
        postTarget: _.debounce( function () {
            HTTP.post("room/"+this.room+"/target/applicable", {
                temperature: this.targetTemperature,
                type: 1, // 1 = manually set
            })
        }, 500),
        getTarget: function () {
            HTTP.get("room/"+this.room+"/target/applicable").then( response => {
                this.targetTemperature = response.data.temperature
            })
            .catch ( e => {
                this.targetTemperature = "-"
                this.errors.push(e)
            })
        },
        getObservation: function () {
            HTTP.get("room/"+this.room+"/observation/last").then( response => {
                this.observedTemperature = response.data.temperature
            })
            .catch ( e => {
                this.observedTemperature = "-"
                this.errors.push(e)
            })
        }
    },
    created () {
        this.getTarget()
        this.getObservation()
    },
    watch: {
        room: function () {
            this.getTarget()
            this.getObservation()
        }
    }
}
</script>
